.formHeading h3,.formHeading h1{
    font-family: var(--Garamond-Font);
    letter-spacing: 5px;
    font-size: 14px;
    color: var(--white-color);
}
.formHeading h1{
    font-size: 30px;
    font-weight: bold;
}
.text-form{
    font-size: 15px;
    font-family: var(--Garamond-Font);
    color: white;
    
}
.form-label{
    font-family: var(--Garamond-Font);
    color: white;
    font-size: 18px;

}
 .ContactUs form input ,textarea.form-control {
    background: none;
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    font-family: var(--Garamond-Font);
 }
 .form-select{
   background-color: none;
   outline: none;
   cursor: pointer;
   color: white;
   font-family: var(--Garamond-Font);
 }
 .form-select option {
   color: black; /* This sets the font color for options */
   background-color: white; /* Optional: Ensures the background is white */
}
 textarea.form-control{
    border:1px solid white ;
    color: white;
    
 }
 .Opening{
    color: var(--white-color);
    font-family: var(--Garamond-Font);
    text-align: center;
 }
 .days h2{
    color: rgba(245, 239, 238, .7);
    font-size: 22px;
 }
 .days p{
    color: white;
    font-size: 18px;
 }
 .days{
    display: flex;
    flex-direction: column;
    align-items: start;
 }
 .Days_Open{
    margin-top: 20px;
    gap: 35px;
 }
 
 .ContactUs iframe{
    width: 100%;
 }

 .send_btn{
   width: 200px;
   background-color: var(--primary-color); /* Transparent background for a modern look */
   letter-spacing: 3px;
   transition: all 0.3s ease; /* Smooth transitions for hover effects */
    cursor: pointer;
    font-family: var(--Garamond-Font); /* Match the font style */
    color: #fff; /* Text changes to white */
    border: none;
 }
 .send_btn:hover{
   border: 2px solid var(--primary-color, #b97a56); /* Outline matches primary theme */
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
   transform: scale(1.05); /* Slightly enlarge for interactivity */
   background: none !important;
}