/* General Styles */
.clinic-slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  /* background: linear-gradient(135deg, #f7e2d1, #d08c6a); */
  padding: 40px 0;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Header */
.slider-header-container {
  text-align: center;
  margin-bottom: 20px;
}



/* Slider Wrapper */
.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-container {
  width: 80%; /* Ensure the container spans full width */
  height: auto; /* السماح للطول بالتكيف مع الصورة */
}

.clinic-slide {
  width: 100%; /* Make the image span full width */
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the area neatly */
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  color: #d08c6a;
  border: 2px solid #d08c6a;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.3s ease;
}

.slider-button.left {
  left: 15px;
}

.slider-button.right {
  right: 15px;
}

.slider-button:hover {
  background-color: #d08c6a;
  color: white;
  border-color: white;
}

/* Dots */
.slider-dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: #d08c6a;
  transform: scale(1.2);
}

@media(max-width:767px){
  .slide-container {
    width: 100%; /* Ensure the container spans full width */
    height: auto; /* السماح للطول بالتكيف مع الصورة */
  }
  .slider-button{
    display: none;
  }
}